<h1>Enquiry</h1>

<form method="post" asp-controller="Enquiry" asp-action="Receive">

  <input name="Email" type="email" placeholder="email" value="joe@domain.com" required>
  <input name="Subject" placeholder="subject" required>
  <textarea name="Message" rows="5" placeholder="message" required></textarea>

  <button>Send</button>

</form>